<!-- Header - Site Branding / Context Information -->
<header>
	<div class="header">
		<!--  Placeholder for Login name -->
		<span class="login-info"> <%= welcome %> </span>
		<!--  Logo - Primary Branding -->
		<div class="logo">
			<a href="/" > <img class="logo-img" src = "/resources/images/logo.png" alt = "Swapping with Auction" /></a>
		</div>
		<div class="tagline-header">
			<h1 class="tagline"> Sell your old stuff. Get new stuff you LOVE</h1>
	</div>
	</div>
</header>