<!-- General Site Navigation -->
<aside>
	<div class="sidebar ">
		<!-- Navigation Links -->
		<ul>
			<li class="aside-cat-style"><a href = "/" >Home</a></li>
			<li class="aside-cat-style"><a href = "/categories" >Categories</a></li>
			<li class="aside-cat-style"><a href = "#" >Store</a></li>
			<li class="aside-cat-style"><a href = "/about" >About</a></li>
			<li class="aside-cat-style"><a href = "/contact" >Contact us</a></li>
		</ul>
	</div>
</aside>