<!-- General Site Navigation -->
<div class="row">
	<aside class="col-lg-2">
		<!-- Navigation Links -->
		<nav class="nav flex-column sidebar">
			<a class="nav-link aside-cat-style" href = "/" >Home</a>
			<a class="nav-link aside-cat-style" href = "/categories" >Categories</a>
			<a class="nav-link aside-cat-style disabled nav-disabled" href = "#" >Store</a>
			<a class="nav-link aside-cat-style" href = "/about" >About</a>
			<a class="nav-link aside-cat-style" href = "/contact" >Contact</a>
		</nav>
	</aside>