<!-- User Specific Navigation -->
<nav class="nav justify-content-center user-navbar">
		<% if(sessionStatus == true) {%>
		<a class="nav-link" href="/signout"> Sign Out </a>
		<%} else {%>
		<a class="nav-link" href="/myItems"> Sign In </a>
		<%}%>
		<a class="nav-link" href="/myItems"> My Catalog </a>
		<!-- Active Swap Offers -->
		<a class="nav-link" href="/mySwaps"> My Swaps </a>
		<a class="nav-link disabled nav-disabled" href="#"> Cart </a>
</nav>