<!-- User Specific Navigation -->
<nav class="navbar ">
	<div class="user-navbar">
		<a class="" href="#"> Sign in </a>
		<span> | </span>
		<a class="" href="/myItems"> My Catalog </a>
		<span> | </span>
		<a class="" href="/mySwaps"> My Swaps </a>
		<span> | </span>
		<a class="" href="#"> Cart </a>
		<span> | </span>
	</div>
</nav>