<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/styles.css">
  </head>

  <body>
  	 <% include partials/header.ejs %>
	   <% include partials/user-navigation.ejs %>  	
	   <% include partials/site-navigation.ejs %>	

  <!-- Main Content Area -->  
	<section>
		<div class="content ">
          <!--  Breadcrumb -->
					<h3 class="inline-header">Home > Category</h3>
			<article>
        <!-- TODO: Dropdow or select box to choose categories  -->
				<div class="page-info">
          <!--  Categories of Items -->
					<h1 class="categories"><a href="/subCategories?catalogCategory=Movies"> Movies  </a></h1>	
					<h1 class="categories"><a href="/subCategories?catalogCategory=Vehicle">Vehicle</a></h1>
				</div>
			</article>
		</div>
	</section>
	<% include partials/footer.ejs %>
  </body>
</html>