<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/styles.css">
  </head>

  <body>

  	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<% include partials/site-navigation.ejs %>	

	<!-- Main Content Area -->
	<section>
		<div class="content">
			<!--  Breadcrumb -->
			<h3 class="inline-header">Home</h3>
			<!-- Introduction and Overview of Website -->
			<article>
				<div class="page-info">
					<h2> Welcome to Swapping with Auction. </h2>
					<p> Sign-up to get 25 points. </p>
					<p>	Use your sign-up points to buy stuff you love. Earn points by selling your items and utilize them to shop.</p>
				</div>
			</article>
		</div>
	</section>

	<% include partials/footer.ejs %>

  </body>
</html>